<!DOCTYPE html>
<html lang="en">
    <!-- This site is open-source! -->
    <head>
        {% include head %}
        <title>{{ i18n('404') }} • lipyplagiarism.org</title>
    </head>
    <body>
        {% include appbar %}
        <div class="paper">
            <h1>404 | {{ i18n('404').upper() }}</h1>
            <p>
                {{ i18n('howToPlagiarize1') }}
                <br />
                <br />
                {{ i18n('howToPlagiarizeBadIdea1') }}
                {{ i18n('howToPlagiarizeBadIdea2') }}
                <br />
                <br />
                {{ i18n('howToPlagiarizeBadEffects') }}
                <br />
                <br />
                {{ i18n('howToPlagiarizeWarning1') }}
                {{ i18n('howToPlagiarizeWarning2') }}
                <b> {{ i18n('howToPlagiarizePunishment') }} </b>
                <br />
                <br />
                {{ i18n('howToPlagiarizeAdvice1') }}
                {{ i18n('howToPlagiarizeAdvice2') }}
            </p>
        </div>
    </body>
</html>
