<!DOCTYPE html>
<html lang="en">
    <!-- This site is open-source! -->
    <head>
        {% include head %}
        <title>lipyplagiarism.org • Free Online Plagiarism Checker</title>
    </head>
    <body>
        {% include appbar %}
        <div id="text-to-check">
            <form action="/" method="POST" enctype="multipart/form-data">
                <textarea
                    name="input_text"
                    id="input_text"
                    value="{{ inputtext }}"
                ></textarea>
                <input
                    class="check-text"
                    type="submit"
                    value="CHECK FOR PLAGIARISM"
                />
            </form>
        </div>
        <div id="pdf-to-txt">
            <form
                action="/pdfToText/"
                method="POST"
                enctype="multipart/form-data"
            >
                <input type="file" name="input_text_in_file" />
                <input type="submit" value="Load PDF" />
            </form>
        </div>
        <div>
            <p>
                Lipyplagiarism is a free(really), libre, no-ads, open-source
                plagiarism checker.
                <a href="/about">About lipyplagiarism</a>
            </p>
        </div>
        <nav class="footer">
            <section>
                <a href="/faq">FAQ</a>
            </section>
            <section>
                <a href="/contact#help-root">Contact</a>
            </section>
            <section>
                <a href="/terms-of-service">Terms of Service</a>
            </section>
            <section>
                <a href="/privacy">Privacy</a>
            </section>
            <section>
                <a href="/source">Source Code</a>
            </section>
            <section>
                <a href="/changelog">Changelog</a>
            </section>
        </nav>
    </body>
</html>
