<!DOCTYPE html>
<html lang="fr-FR">
    <!-- This site is open-source! -->
    <head>
        {% include head %}
        <title>lipyplagiarism.org • Free Online Plagiarism Checker</title>
    </head>
    <body>
        {% include appbar %}
        <div id="text-to-check">
            <form action="/" method="POST" enctype="multipart/form-data">
                <textarea
                    name="input_text"
                    id="input_text"
                    value="{{ inputtext }}"
                ></textarea>
                <input
                    class="check-text"
                    type="submit"
                    value="{{ i18n['checkForPlagiarism'].upper() }}"
                />
            </form>
        </div>
        <div id="pdf-to-txt">
            <form
                action="/pdfToText/"
                method="POST"
                enctype="multipart/form-data"
            >
                <input type="file" name="input_text_in_file" />
                <input type="submit" value="Load PDF" />
            </form>
        </div>
        <div>
            <p>
                {{ i18n['freereally'] }}
                <a href="/about">{{ i18n['about'] }}</a>
            </p>
        </div>
        <nav class="footer">
            <section>
                <a href="/faq">FAQ</a>
            </section>
            <section>
                <a href="/contact#help-root">{{ i18n['contact'] }}</a>
            </section>
            <section>
                <a href="/terms-of-service">{{ i18n['termsOfService'] }}</a>
            </section>
            <section>
                <a href="/privacy">{{ i18n['privacy'] }}</a>
            </section>
            <section>
                <a href="/source">{{ i18n['sourceCode'] }}</a>
            </section>
            <section>
                <a href="/changelog">{{ i18n['changelog'] }}</a>
            </section>
        </nav>
    </body>
</html>
